%button {
	@include font-smoothing;
	@include body-font-size;
	font-family: $font-family-cinetype;
	display: inline-block;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	text-align: center;
	cursor: pointer;
	user-select: none;
	appearance: none;
	color: inherit;
	
	&:focus {
		outline: none;
	}

	&:disabled,
	&.disabled {
		cursor: not-allowed;
	}
}

button {
	@extend %button;
}