.entrance--start {
	.entrance__1,
	.entrance__2 {
		opacity: 0;
	}

	.entrance__2 {
		transform: translate3d(0, 40px, 0);
	}

	&.entrance--complete {
		.entrance__1 {
			opacity: 1;
			transition: 600ms opacity ease-out;
		}

		.entrance__2 {
			opacity: 1;
			transform: translate3d(0, 0, 0);
			transition: 800ms opacity ease-out, transform 800ms cubic-bezier(0, 0, 0, 1);
			transition-delay: 400ms;
		}
	}
}