.modal__underlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.5;
	z-index: $z-index-modal;
}

.modal {
	border: 1px solid #fff;
	background: white;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: $z-index-modal;
	max-width: 890px;
	width: calc(100vw - 20px);
	max-height: calc(100% - 20px);
	height: auto;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	color:#000;
}
