.border--bottom {
	border-bottom: solid 1px #fff;
	height: 1px;

	@include breakpoint(sm) {
		border-bottom: solid 1px #CCCCCC;
	}
}

.divider {
	border-bottom: solid 1px #333;
	height: 1px;
	margin: 10px 20px;

	@include breakpoint(md) {
		display: none;
	}
}

.table__row {
	position: relative;

	.table__hover {
		display: none;
		position: absolute;
		left: 50%;
		top: 50%;
		width: 33%;
		height: auto;
		transform: translate(-50%, -50%);

		&.table__hover--right {
			left: initial;
			right: 0;
			transform: translateY(-50%);
		}
	}

	@include breakpoint(md) {
		&:hover {
			z-index: $z-index-release;

			&:before {
				content: '';
				display: block;
				position: absolute;
				z-index: 1;
				left: 0;
				right: 0;
				top: -1px;
				height: 1px;
				background: #CCCCCC;
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				z-index: 1;
				left: 0;
				right: 0;
				bottom: 0;
				height: 1px;
				background: #CCCCCC;
			}
			
			.table__hover {
				display: block;
			}
		}
	}
}

.table__glyph {
	min-width: 30px;
	text-align: left;
}