.video {
	height: 0;
	overflow: hidden;
	padding-bottom: (9 / 16 * 100%);
	position: relative;

	iframe {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}
}