/*
// === Config Variables ===
*/

$all-colors: (
	white     : #FFFFFF,
	black     : #000000,
	gray      : #808080,
	gray-bg   : #F1F1EE,
	gray-link : #e7e7e7,
	ltgray 	: #999999,
	drkgray : #555555,
);

$breakpoints : (
	xs : 400px,
	sm : 600px,
	md : 960px,
	lg : 1000px,
	xl : 1200px,
);

$spacer-max: 10;
$spacer-size: 10px;

$column-size: 12;

$grid-gutter: 40px;
$grid-gutter-extra: (
	none    : 0px,
	tiny    : 5px,
	small   : 10px,
	default : $grid-gutter,
);

$grid-padding-mobile: 20px;
$grid-padding-desktop: 40px;
$grid-max-width: 1920px;

$font-size-body-mobile: 12px;
$line-height-body-mobile: 20px;

$font-size-body-desktop: 12px;
$line-height-body-desktop: 20px;

$font-family-cinetype: 'Cinetype Mono', monospace;
$font-family-helvetica: 'Helvetica Heavy', Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, sans-serif;

$z-index-modal: 100;
$z-index-release: 90;

/*
// === Config Getter Functions ===
*/

@function color($color-name) {
	$color-found: map-has-key($all-colors, $color-name);
	@if ($color-found == true) {
		@return map-get($all-colors, $color-name);
	} @else {
		@warn "Color " + #{$color-name} + " doesn't exist.";
	}
}

@mixin breakpoint($size) {
	$breakpoint-found: map-has-key($breakpoints, $size);
	@if ($breakpoint-found == true) {
		$breakpoint: map-get($breakpoints, $size);
		@media (min-width: #{$breakpoint}) {
			@content;
		}
	} @else {
		@warn "Breakpoint size " + #{$size} + " doesn't exist.";
	}
}

@function gutter($gutter-name) {
	$gutter-found: map-has-key($grid-gutter-extra, $gutter-name);
	@if ($gutter-found == true) {
		@return map-get($grid-gutter-extra, $gutter-name);
	} @else {
		@warn "Gutter " + #{$gutter-name} + " doesn't exist.";
	}
}