@font-face {
	font-family: 'Cinetype Mono';
	src: url('../assets/fonts/ANDALEMO.woff') format('woff');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Helvetica Heavy';
	src: url('../assets/fonts/HelveticaNeue-BoldExt.woff') format('woff');
	font-style: normal;
	font-weight: 800;
}