/*
// === Reset ===
*/

body {
	@include font-smoothing;
	@include body-font-size;
	font-family: $font-family-cinetype;
}

//
// === Utilities ===
//

.line-through {
	text-decoration: line-through;
}

.ellipsis {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}

.line-break p {
	margin-bottom: $line-height-body-mobile;

	@include breakpoint(md) {
		margin-bottom: $line-height-body-desktop;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.uppercase {
	text-transform: uppercase;
}

.underline {
	text-decoration: underline;
}

.p--indent {
	min-width: 40px;
	display: inline-block;
}

//
// === Styles ===
//

.helvetica--body {
	@include body-font-size;
	font-family: $font-family-helvetica;
}

.helvetica--body span {
    font-size: 12px;
    line-height: 20px;
    font-family: Cinetype Mono, monospace;
	color:#999;
}
.mono--body {
    font-size: 12px;
    line-height: 20px;
    font-family: Cinetype Mono, monospace
}
.bio a {
    text-decoration: underline;
    word-break: break-word;
    -webkit-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
	display: inline-block;
}
.bio a:hover, .bio a:focus {
    text-decoration: none;
    background-color: #222
}

.helvetica--header {
	font-family: $font-family-helvetica;
	font-size: 18px;
	line-height: 20px;
	font-weight: 800;
}

.link--primary {
	text-decoration: underline;
	word-break: break-word;
	/*background-color: color(gray-link);*/
	transition: background-color 200ms ease-out;
	display: inline-block;

	@include breakpoint(md) {
		text-decoration: underline;
		background-color: transparent;
		padding: 0px;
	}

	&:hover,
	&:focus {
		text-decoration: none;
		background-color: #222;
	}
}

.link--secondary {
	text-decoration: none;
	background-color: #222;
	padding: 3px;
	
	@include breakpoint(md) {
		text-decoration: none;
		transition: background-color 200ms ease-out;
		background-color: transparent;
		padding: 0px;

		&:hover,
		&:focus {
			text-decoration: none;
			background-color: #222;
		}
	}
}

.modal .link--primary:focus,
.modal .link--primary:hover,
.modal .link--secondary {
    text-decoration: none;
	background-color: #eee
}

