<!DOCTYPE html>
<html lang="en" class="bg--black color--white">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>METAVARI — ABSURDA, Out now on One Way Static Records</title>
		<meta name="description" content="Metavari is the moniker of electronic musician, Nathaniel David Utesch. Distributed worldwide by Deathwish, Inc. and Light in the Attic Records."/>
		<link
			rel="shortcut icon"
			href="/favicon.png"
			type="image/png"
		/>

		{{!-- Twitter --}}
		<meta property="twitter:card" content="summary" />
		<meta property="twitter:site" content="@nateutesch" />
		<meta property="twitter:creator" content="@nateutesch" />

		{{!-- Opengraph --}}
		<meta property="og:url" content="https://metavari.com" />
		<meta property="og:title" content="METAVARI — ABSURDA, Out now on One Way Static Records">
		<meta property="og:description" content="Metavari is the moniker of electronic musician, Nathaniel David Utesch. Distributed worldwide by Deathwish, Inc. and Light in the Attic Records." />
		<meta property="og:image" content="https://metavari.com/opengraph.jpg" />

		{{!-- Google Analytics --}}
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-52011032-1', 'auto');
		ga('send', 'pageview');

		</script>
	</head>
	<body>
		<script>
			document.body.classList.add('entrance--start');

			setTimeout(function() {
				document.body.classList.add('entrance--complete');
			}, 800);
		</script>

		{{> 'components/header' }}

		<div class="grid-container contained entrance__2">
			<div id="announcement" class="pt10 mt--md">
				{{> 'components/announcement' }}
			</div>
			<div style="border-bottom:1px solid #fff; margin-top:20px;">
				
			</div>

			<div id="catalog" class="pt10 mt--md">
				{{> 'components/catalog' }}
			</div>

			<div id="live" class="pt10 mt--md">
				{{> 'components/live' }}
			</div>

			<div id="video" class="pt10 mt--md">
				{{> 'components/video' }}
			</div>
			
			<div id="press" class="pt10 mt--md">
				{{> 'components/press' }}
			</div>

			<div class="pt10 mt--md">
				{{> 'components/footer' }}
			</div>
		</div><!-- /container -->

		<div id="mount-modal-router"></div>
	</body>
</html>