<div class="row">
	<div class="col c12 c7--md mt2 mb2 mt0--sm mb0--sm">
		{{#each announcements}}
			<div class="row mb2">
				<div class="col c12 c6--sm c5--md mb2 mb0--sm">
					{{#each this.links}}
					<a
									href="{{ this.url }}"
									{{#if this.external }}
										target="_blank"
									{{/if}}>{{/each}}
					<img
						alt="{{ this.imageCaption }}"
						src="{{ this.image }}"
						class="full-width"
					/>
					</a>
					
				</div><!-- /col single cover-->

				<div class="col c12 c6--sm c7--md">
					<p>{{ this.id }}</p>
					<p>{{ this.title }}</p>
					<p class="pt2 color--ltgray">{{ this.description }}</p>
					<ul class="list list--horizontal gutter--small pt2">
						{{#each this.links}}
							<li class="list__item">
								↳ <a
									href="{{ this.url }}"
									{{#if this.external }}
										target="_blank"
									{{/if}}
									class="link--primary">
									{{ this.title }}
								</a>
							</li>
						{{/each}}
					</ul>
				</div><!-- /col single info-->
			</div><!--/single -->
		{{/each}}
	</div>

	<div class="col c1 show--md"></div>

	<div class="col c12 c4--md mt2 mt0--sm">
		<div class="row mt0 mt4--sm mt0--md">

			<div class="col c6">
				<p class="color--white mb2 helvetica--body">Contact</p>

				{{#each contactLinks}}
						<a
							href="{{ this.url }}"
							class="link--primary">
							{{ this.title }}
						</a>
						<span class="color--ltgray" style="display:inline-block;">{{ this.cta }}
						</span>
						<br/>
				{{/each}}
			</div><!-- /col 6 -->

			<div class="col c6">
				<p class="color--white mb2 helvetica--body">Label</p>

				{{#each labelLinks}}
					<p>
						<a
							href="{{ this.labelUrl }}"
							target="_blank"
							class="link--primary">
							{{ this.labelCta }}
						</a>
						<span class="color--ltgray">{{ this.distroCta }}
						</span>
					</p>
				{{/each}}
			</div><!-- /col 6 -->

			<div class="col">
				<p><br/></p>
			</div>
		</div><!-- /row -->

		<div class="row">
			<div class="col c12">
				<p class="color--white mb2 helvetica--body">Network</p>
				<ul class="list list--horizontal gutter--small">
					{{#each networkLinks}}
						<li class="list__item">
							↳ <a
								href="{{ this.url }}"
								{{#if this.external }}
										target="_blank"
									{{/if}}
								class="link--primary">
								{{ this.cta }}
							</a>
						</li>
					{{/each}}
				</ul>
			</div><!-- /col 12 -->
			
		</div><!-- /row --> 

	</div><!-- /col 2 -->
</div><!-- /row -->