<div class="row pb5">
	<div class="col c5--md mb2 mb0--md">
		<p>{{ footer.copyright }}</p>
	</div>
	<div class="col c3--md"></div>
	<div class="col c2--md mb2 mb0--md">
		<p>
			{{ footer.quote }}
		</p>
	</div>
	<div class="col c2--md tr--md">
		<a href="https://alright.studio" target="_blank" class="color--gray">Site Credit</a>
	</div>
</div><!-- /row mt pt10 pb5-->