<header class="pt2 pt4--sm">
	<div class="grid-container contained">
		<div class="row">
			<div class="col c1 c12--sm c1--md">
				<img
					alt="Metavari"
					src="../../assets/images/icon-globe.svg"
					class="mb2 mb0--md vam"
				/>
				<img
					alt="Metavari"
					src="../../assets/images/icon-metavari.svg"
					class="hide--md mb2 vam"
				/>
			</div>
			<div class="col c12 hide--md mb2">
				<p class="color--gray">Index of Work {{ meta.startYear }} – {{ meta.endYear }}</p>
			</div>
			<div class="col c12 c2--sm c1--md entrance__1">
				<p class="color--gray">Wayfinding</p>
			</div>
			<div class="col c6 c4--sm c1--md mb2 mb0--sm entrance__1">
				<p class="color--gray mb2">Code:</p>
				<ul>
					<li>00A</li>
					<li>001</li>
					<li>002</li>
					<li>003</li>
					<li>004</li>
				</ul>
			</div>
			<div class="col c6 c6--sm c2--md entrance__1">
				<p class="color--gray mb2">Classification:</p>
				<ul>
					<li><a class="link--secondary" href="#announcement">Communiqué</a></li>
					<li><a class="link--secondary" href="#catalog">Catalog</a></li>
					<li><a class="link--secondary" href="#live">Live</a></li>
					<li><a class="link--secondary" href="#video">Video</a></li>
					<li><a class="link--secondary" href="#press">Info / Press</a></li>
				</ul>
			</div>
			<div class="col c12 c2--sm c3--xl"></div>
			<div class="col c12 c3--sm c2--xl show--md">
				<p class="color--gray ws--nowrap">Index of Work {{ meta.startYear }} – {{ meta.endYear }}</p>
			</div>
			<div class="col c12 c2--sm show--md tr">
				<img
					alt="Metavari"
					src="../../assets/images/icon-metavari.svg"
				/>
			</div>
		</div>
	</div>
</header>