<div class="row">
	<div class="col c12 c2--md">
		<p class="helvetica--body uppercase">002 Live</p>
	</div><!-- /col 2 -->
	<div class="col c12 c5--md">
		<p>Recent / Upcoming ({{ meta.startDate }} - {{ meta.endDate }})</p>
	</div><!-- /col 5 -->
	<div class="col c12 c1--md">
	</div><!-- /col 1 -->
	<div class="col c12 c4--md show--md">
		<p>Performances of Note</p>
	</div><!-- /col 3 -->
</div><!-- /row -->

<div class="row">
	<div class="col c12 c2--md mt4 mb2 mb0--md">
		<p class="color--gray"><a href="{{ live.bookingLink }}" class="underline">Booking Inquiries</a></p>
	</div>
	<div class="col c12 c5--md">
		<!--Tour Date Header -->
		<div class="row color--gray pb1 mt4--md show--sm">
			<div class="col c6"><!--Code -->
				<p>Code _ Date / Info</p>
			</div>
		</div>
		<div class="border--bottom"></div>
		<!--END Tour Date Header -->

		{{#each live.dates}}
			<div class="row">
				{{#each this}}
					<div class="col c12 c6--sm pt2 pb2">
						{{this.id}} _ {{this.date}}
						<br> 
						<a class="link--primary" href="{{this.ticketLink}}" target="_blank">
							{{this.venue}}
						</a> 
						<p class="color--ltgray">{{this.deets}}</p>
					</div>
					{{#unless @last }}
						<div class="col hide--sm ">
							<div class="border--bottom"></div>
						</div>
					{{/unless}}
				{{/each}}
			</div>

			<div class="border--bottom"></div>
		{{/each}}
	</div>

	<div class="col c12 c1--md"></div>

	<div class="col c12 c4--md hide--mobile">
		<p class="mt6 hide--md mb2">Past Performances of Note</p>
		<p class="color--gray pb1 mt4 show--sm">Code / Description</p><!--Past Performances Header -->
		
		<div class="border--bottom"></div>

		{{#each live.pastPerformanceRows}}
			<div class="row">
				{{#each this}}
					<div class="col c12 c6--sm pt2 pb2"><!--Past Performance -->
						<p>{{ this.id }}<br>{{ this.title }}
						<span class="color--ltgray">{{ this.description }}</span>
						</p>
					</div>
					{{#unless @last }}
						<div class="col hide--sm">
							<div class="border--bottom"></div>
						</div>
					{{/unless}}
				{{/each}}
			</div>

			<div class="border--bottom"></div>
		{{/each}}
		
	</div><!--END col5 -->
</div><!-- /row -->