<div class="row">
	<div class="col c12 c2--md">
		<p class="helvetica--body uppercase">004 Info / Press</p>
		<p class="hide--md">Selected Press (004.*)</p>

		<ul class="list color--gray mt4 mb2">
			<li class="list__item"><a href="{{ press.pressLink }}" class="underline">Press Inquiries</a></li>
		</ul>
	</div><!-- /col 4 -->

	<div class="col c12 c5--md mb4 mb0--md">
		<p class="mb2 show--md">Selected Press (004.*)</p>

		<!--Video Item Header -->
		<div class="row color--gray mb1 show--sm">
			<div class="col c2">
				<p>Code</p>
			</div>
			<div class="col c8">
				<p>Description</p>
			</div>
			<div class="col c2">
				<p>View</p>
			</div>
		</div>
		<div class="border--bottom"></div>
		<!--END Video Item Header -->

		{{#each press.clippings}}
			<!--Video Item -->
			<div class="row pt2 pb2">
				<div class="col c6 hide--sm color--gray"><!--Code Mobile Header-->
					Code:
				</div>
				<div class="col c6 c2--sm"><!--Code -->
					<p>{{ this.id }}</p>
				</div>
				<div class="divider hide--sm"></div>
				<div class="col c6 hide--sm color--gray"><!--Description Mobile Header-->
					Description:
				</div>
				<div class="col c6 c8--sm"><!--Description -->
					<p>
						<span class="ws--pre-line">{{ this.title }}
							<span class="color--ltgray">{{ this.descr1 }}
								<span class="color--drkgray">{{ this.descr2 }}</span></span></span>
					</p>
				</div>
				<div class="divider hide--sm"></div>
				<div class="col c6 hide--sm color--gray"><!--View Mobile Header-->
					View:
				</div>
				<div class="col c6 c2--sm"><!--View-->
					<p>
						<a
							href="{{ this.url }}"
							target="_blank"
							class="link--secondary">
							⟶
						</a>
					</p>
				</div>
			</div>

			<div class="border--bottom"></div>
			<!--END Video Item -->
		{{/each}}

	</div><!-- /col 8 -->

	<div class="col c1 show--md"></div><!-- /col 1 -->

	<div class="col c4--md">
		<p class="mb2">Biography ({{ press.artistStatementId }})</p>

		{{#each press.artistStatement}}
			<p>
				{{#unless @first}}
					<span class="p--indent"></span>
				{{/unless}}
				{{ this }}
			</p>
		{{/each}}
	</div><!-- /col 5 -->
</div><!-- /row -->


<div class="row mt4 mt--md mb2 mb0--md">
	<div class="col c12 c2--md">
		<p class="color--gray">Press Images</p>
	</div><!-- /col 4 -->
	<div class="col c12 c10--md">
		<ul class="list list--horizontal gutter--small">
			{{#each press.images}}
				<li class="list__item">
					<a
						href="{{this.url}}"
						target="_blank"
						class="link--primary" id="press-img-link">
						{{ this.title }}
					</a>
					<div id="press-img"><img style="width:100%;" src="{{this.thumb}}">
					<span class="photo-cred">{{this.pcaption}}</span>
					</div>
					<br/>
					({{ this.id }})
				</li>
			{{/each}}
		</ul>
	</div><!-- /col 8 -->
</div>

<div class="border--bottom mt4"></div>